<header>
    <section>
        <figure>
            <img src="/content/images/comovas.svg" alt="" width="200" height="200">
        <figure>
        <h1>404 - Página NO encontrada</h1>
    </section>
</header>